<div class="quantity">
  <div class="quantity__label">
    <div class="quantity__label-val">QUANTITY:</div>
  </div>
  <div class="quantity__amt">
    <div class="quantity__amt-val">{{ qty }}</div>
  </div>
  <div class="quantity__btns">
    <button class="quantity__btns-plus" type="button" (click)="increment()">+</button>
    <button class="quantity__btns-minus" type="button" (click)="decrement()">-</button>
  </div>
  <div class="quantity__add-label">
    <button
      class="quantity__add-label-btn"
      [ngClass]="{ 'quantity__add-label-btn--active': qty }"
      (click)="addToCart()"
    >
      {{ btnText }}
    </button>
  </div>
</div>
