@use 'variables' as vars;

.shop {
  .products {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    max-width: vars.$max-section-width;
    margin: auto;
    background-color: white;
  }
}
