@use 'variables' as vars;

.shop {
  &__products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 2rem;
    gap: 1rem;
    max-width: 105rem;
    margin: auto;
    background-color: white;
  }
}
