@use 'variables' as vars;

.btn {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 600 !important;
  gap: 0.5rem;
  align-items: center;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  ng-icon {
    color: rgb(252, 170, 18);
    transform: translateY(-0.08rem);
    font-size: 1.5rem !important;
    transition: color 0.5s;
  }

  &.primary {
    position: relative;
    overflow: hidden;
    color: white;
    border: 2px solid white;
    padding: 1rem 2rem;

    &:hover {
      background-color: vars.$secondary-color;
      ng-icon {
        color: white;
      }
      &::before {
        transform: translateX(100%) rotate(60deg);
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-color: white;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      transform: translate(-100%, 100%) rotate(45deg);
      transition: all 1s;
    }
  }
  &.secondary {
    color: black;
    border: 2px solid white;
    padding: 1rem 0;
    &:hover {
      color: rgb(252, 170, 18);
    }
  }
}
