.btn {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 600 !important;
  gap: 0.5rem;
  align-items: center;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  ng-icon {
    color: rgb(252, 170, 18);
    transform: translateY(-0.08rem);
    font-size: 1.5rem !important;
  }

  &.primary {
    color: white;
    border: 2px solid white;
    padding: 1rem 2rem;
    &:hover {
      background-color: white;
      color: rgb(252, 170, 18);
    }
  }
  &.secondary {
    color: black;
    border: 2px solid white;
    padding: 0.5rem 0 0.5rem 0;
    &:hover {
      color: rgb(252, 170, 18);
    }
  }
}
