@use 'variables' as vars;

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;

  &--bg-color {
    &:hover {
      img {
        background-color: red;
      }
    }
  }

  img {
    transition: background-color 0.3s ease-in;
    background-color: #e3ded7;
    max-width: 100%;
    max-height: 25rem;
    height: auto;
  }

  &-name {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
  }

  &-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: vars.$color-primary;
  }

  &-btn {
    background-color: vars.$color-primary;
    padding: 0.5rem 1rem;
    color: white;
  }
}
