@use 'variables' as vars;
@use 'mixins' as mixins;

.product-section {
  background-color: white;

  .product-page {
    &__upper {
      transition: background-color 0.5s ease-in;
      padding: 8rem 2rem;
      @include mixins.respond-to('lg') {
        padding: 10rem 1rem;
      }
      &-container {
        max-width: vars.$max-width--wide;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include mixins.respond-to('lg') {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          gap: 0;
        }

        a {
          text-decoration: none;
          position: absolute;
          top: -4rem;
          color: black;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          color: white;
          &:hover {
            color: black;
          }
          .arrow {
            transform: translateY(-0.1rem);
          }
          &:hover {
            color: black;
          }
        }

        img {
          align-self: center;
          max-height: 30rem;
          height: auto;
          width: 100%;
          object-fit: contain;
        }
        &-right-col {
          padding: 0;
          @include mixins.respond-to('lg') {
            padding: 0 3rem;
            grid-column: 2/-1;
          }
          h2 {
            font-family: vars.$primary-font;
            text-transform: none;
          }
          h3 {
            font-family: vars.$primary-font;
            color: black;
            font-size: 1.5rem;
            padding-bottom: 2rem;
            span {
              text-transform: lowercase;
              font-size: 0.8rem;
              padding-left: 0.3rem;
            }
          }
          span {
            font-weight: bold;
          }
          p {
            font-size: 0.9rem;
            padding: 3rem 0;
          }
          button {
            margin-top: 2rem;
            display: block;
            background-color: black;
            color: white;
            padding: 0.7rem 2rem;
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
    &__bottom {
      max-width: vars.$max-width--wide;
      margin: auto;
      padding: 5rem 0;
      text-align: center;
      &-prod-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 5rem 0;
      }
    }
  }
}
