<section class="product-section" *ngIf="quantity$ | async as qty">
  <div class="product-page" *ngIf="product" [ngClass]="{ 'product-page--bg-color': product.color }">
    <div class="product-page__upper" [ngStyle]="{ 'background-color': product.color }">
      <div class="product-page__upper-container" style="position: relative">
        <a routerLink="/shop"> <ng-icon class="arrow" name="heroArrowLeft"></ng-icon>Back</a>
        <img [src]="'assets/images/' + product.imgSrc" />
        <div class="product-page__upper-container-right-col">
          <h2>{{ product.name }}</h2>
          <h3>{{ product.price | currency }} <span>excl. tax</span></h3>
          <p>
            {{ product.desc }}
          </p>
          <cof-quantity [qty]="+qty" (onUpdateQty)="addToCart($event)"></cof-quantity>
        </div>
      </div>
    </div>

    <div class="product-page__bottom">
      <h3>Our dear coffee loving customer, perhaps you would be</h3>
      <h2>Interested in some of our amazing coffees?</h2>
      <div class="product-page__bottom-prod-container">
        <cof-product
          *ngFor="let product of bottomProducts"
          [product]="product"
          imgHeight="18rem"
          (onSelect)="onProductSelect($event)"
        ></cof-product>
      </div>
    </div>
  </div>
</section>
