<div class="hero">
  <div class="hero__overlay"></div>
  <div class="hero__content">
    <img
      class="hero__content-img"
      ngSrc="assets/images/pexels-helena-lopes-887723.jpg"
      width="1920"
      height="1280"
      priority
    />
    <div class="hero__content-inner">
      <div class="hero__content-logo-container">
        <img
          class="hero__content-logo-outer-1"
          ngSrc="assets/images/logo-outer.png"
          width="240"
          height="240"
          priority
        />
        <img
          class="hero__content-logo-outer-2"
          ngSrc="assets/images/logo-outer.png"
          width="240"
          height="240"
          priority
        />
        <img class="hero__content-logo" ngSrc="assets/images/logo.png" width="240" height="240" priority />
      </div>
      <div class="hero__content-buttons">
        <cof-button [routerLink]="['/shop']">Visit our Shop</cof-button>
        <cof-button [routerLink]="['/subscribe']">Subscribe</cof-button>
      </div>
    </div>
    <div class="hero__content-bottom">
      <ng-icon name="heroArrowDownCircle"></ng-icon>
    </div>
  </div>
</div>
