@use 'mixins' as mixins;
@use 'variables' as vars;
@use 'keyframes' as keyframes;

@include keyframes.keyframe-rotate;
@include keyframes.keyframe-bounceDown;

.hero {
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    &-img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -10;
    }
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      row-gap: 5rem;
    }
    &-logo {
      &-container {
        position: relative;
        .hero__content-logo-outer-1 {
          position: absolute;
          top: -2.2rem;
          left: -2.2rem;
          height: 115%;
          width: 115%;
          animation: rotate 30s linear infinite;
        }
        .hero__content-logo-outer-2 {
          position: absolute;
          top: -5.1rem;
          left: -5.1rem;
          height: 135%;
          width: 135%;
          animation: rotate 30s linear infinite reverse;
        }
      }
    }
    &-buttons {
      display: flex;
      gap: 1.5rem;
    }

    &-bottom {
      color: white;
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-65%);
      font-size: 1.25rem;
      ng-icon {
        animation: bounceDown 1.5s ease-out infinite;
        font-size: 3rem;
      }
    }
  }

  @include mixins.respond-to-height('md') {
    &__content-logo {
      width: 320px;
      height: 320px;
    }
  }

  @include mixins.respond-to-height('lg') {
    &__content-logo {
      width: 480px;
      height: 480px;
    }
  }
}
