@use 'variables' as vars;
@use 'mixins' as mixins;

.p-filter {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  flex-direction: column;

  @include mixins.respond-to('md') {
    flex-direction: row;
    gap: 2rem;
  }

  &__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-direction: column;

    @include mixins.respond-to('md') {
      flex-direction: row;
      gap: 2rem;
    }
    &-item {
      padding-right: 2rem;
      color: grey;
      cursor: pointer;
      &:hover {
        color: vars.$primary-color;
      }
      &.active {
        color: vars.$primary-color;
      }
      @include mixins.respond-to('md') {
        &:not(:last-child) {
          border-right: 1px solid black;
        }
      }
    }
  }
}
