@use 'variables' as vars;

.p-filter {
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 700;

  &__list {
    display: flex;
    gap: 2rem;
    list-style: none;
    &-item {
      padding-right: 2rem;
      color: grey;
      cursor: pointer;
      &:hover {
        color: vars.$primary-color;
      }
      &.active {
        color: vars.$primary-color;
      }
      &:not(:last-child) {
        border-right: 1px solid black;
      }
    }
  }
}
