<section class="sub">
  <!-- Image -->
  <div class="sub__img">
    <div class="sub__img-overlay"></div>
    <div class="sub__img-content">
      <h2>Subscribe</h2>
      <h2>& Delight</h2>
      <p>
        Enjoy fresh Brewed Awakenings coffee delivered directly to your door with a subscription — plus a bunch of other
        perks like free shipping, discounts, and early access to exclusive product drops.
      </p>
      <div class="sub__img-buttons">
        <button type="button">Shop Subscriptions</button>
        <button type="button">Learn More</button>
      </div>
    </div>
  </div>
  <div class="sub__banner">
    <span class="sub__banner-header-txt">How it Works</span>
    <div class="sub__banner-step">
      <span class="sub__banner-step-number">1</span>
      <div class="sub__banner-step-desc">
        <div class="sub__banner-step-header">Choose Your Coffee</div>
        <span>from the three subscription options below</span>
      </div>
    </div>
    <div class="sub__banner-step">
      <span class="sub__banner-step-number">2</span>
      <div class="sub__banner-step-desc">
        <div class="sub__banner-step-header">Select How Much</div>
        <span>size, quantity, and frequency</span>
      </div>
    </div>
    <div class="sub__banner-step">
      <span class="sub__banner-step-number">3</span>
      <div class="sub__banner-step-desc">
        <div class="sub__banner-step-header">Enjoy All The Perks</div>
        <span>discounts, free shipping, and more!</span>
      </div>
    </div>
  </div>
</section>
