@use 'mixins' as mixins;
@use 'variables' as vars;

.sub {
  font-family: vars.$font-tertiary;
  &__img {
    background: url('/assets/images/delivery-box.jpg') center/cover no-repeat;
    width: 100%;
    height: 70vh;
    min-height: 30rem;
    position: relative;
    &-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
    }
    &-content {
      color: white;
      position: absolute;
      width: 80%;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      text-align: right;
      @include mixins.respond-to('md') {
        width: 40%;
      }
      @include mixins.respond-to('xl') {
        right: 10rem;
        width: 20%;
      }
      h2 {
        font-size: 4rem;
        padding-bottom: 0;
      }
      p {
        line-height: 1.2;
        padding: 1rem 0;
      }
      button {
        color: white;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        text-align: right;
      }
    }
    &-buttons {
      padding-top: 1rem;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  }
  &__banner {
    display: flex;
    flex-direction: column;
    min-height: 14rem;
    background-color: #1f1815;
    color: white;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    @include mixins.respond-to('md') {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 0;
      span {
        width: 30%;
      }
    }

    @include mixins.respond-to('lg') {
      height: 30vh;
    }
    &-header-txt {
      font-size: 2.3rem;
      align-self: flex-start;
      padding: 3rem 2rem;
      @include mixins.respond-to('md') {
        font-size: 1.4rem;
        align-self: center;
      }
    }
    &-step {
      position: relative;
      width: 60%;
      height: 8rem;
      display: flex;
      @include mixins.respond-to('lg') {
        width: 30%;
        text-align: left;
      }
      &-number {
        font-size: 8rem;
        left: -5rem;
        top: 2rem;
        color: vars.$color-primary;

        @include mixins.respond-to('lg') {
          position: absolute;
          font-size: 10rem;
        }
      }
      &-header {
        font-size: 1.4rem;
      }
      &-desc {
        font-size: 1rem;
        left: 0;
        top: 2.1rem;
        line-height: 1;
        @include mixins.respond-to('lg') {
          position: absolute;
          font-size: 0.8rem;
        }
      }
    }
  }
  &__get-started {
    padding: vars.$section-padding-top-bottom;
    background-color: #e3ded7;
    .header {
      h4 {
        text-align: center;
        color: black;
        text-transform: uppercase;
        padding-bottom: 0;
      }
      h2 {
        text-align: center;
        font-size: 3rem;
      }
    }
    .sub-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include mixins.respond-to('lg') {
        flex-direction: row;
      }
    }
  }
  &__perks {
    background-color: white;
    ul {
      padding-left: 1rem;
      color: black;
      li {
        padding: 0.5rem 0;
      }
    }
  }
  &__faq {
    padding: vars.$section-padding-full;
    background-color: white;
    h2 {
      text-align: center;
    }
    &-accordion {
      max-width: 50rem;
      margin: auto;
    }
  }
}
