<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-inner">
      <div class="footer__imgs">
        <div class="footer__imgs--img"></div>
        <div class="footer__imgs--img"></div>
        <div class="footer__imgs--img"></div>
      </div>
      <div>
        <h4>Like What You See? Curious to Taste Our Lovingly Roasted Beans?</h4>
        <h3>Take a Piece of Boreal Home With You. This Way to Our E-shop</h3>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-inner">
      <div class="footer__logo"></div>
      <button class="footer__link" routerLink="/">Who We Are?</button>
      <button class="footer__link" routerLink="/shop">Shop</button>
      <button class="footer__link" routerLink="/subscription">Subscribe</button>
      <div class="footer__follow">
        <span>Follow Us:</span>
        <div class="footer__follow-social">
          <ng-icon name="aspectsSocialFacebook"></ng-icon>
          <ng-icon name="aspectsSocialInstagram"></ng-icon>
          <ng-icon name="aspectsSocialTwitter"></ng-icon>
          <ng-icon name="aspectsSocialYoutube"></ng-icon>
        </div>
      </div>
    </div>
  </div>
</footer>
