<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-inner">
      <div class="footer__imgs">
        <div class="footer__imgs--img"></div>
        <div class="footer__imgs--img"></div>
        <div class="footer__imgs--img"></div>
      </div>
      <div>
        <h4>Like What You See? Curious to Taste Our Lovingly Roasted Beans?</h4>
        <h3>Take a Piece of Boreal Home With You. This Way to Our E-shop</h3>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-inner">
      <div class="footer__logo"></div>
      <div class="footer__find-us">Find Us</div>
      <div class="footer__support">Support</div>
      <div class="footer__follow">Follow</div>
    </div>
  </div>
</footer>
