<div class="two-col" [ngClass]="{ 'two-col--img-right': imgPosition === 'right' }">
  <div class="two-col__img">
    <img [src]="imgSrc" />
  </div>
  <div class="two-col__text">
    <div class="two-col__text-header">
      <h3>{{ subHeader }}</h3>
      <h2>{{ header }}</h2>
      <div class="two-col__text-separator"></div>
    </div>
    <div class="two-col__text-main">
      <ng-content></ng-content>
    </div>
    <cof-button type="secondary" class="two-col__button">{{ btnText }}</cof-button>
  </div>
</div>
