@use 'variables' as vars;
@use 'mixins' as mixins;

.two-col {
  display: flex;
  flex-direction: column;
  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 600px;
  }
  &__text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    &__sub-header {
      text-transform: uppercase;
      color: vars.$secondary-color;
    }
    &__header {
      text-transform: uppercase;
    }
    &__seperator {
      width: 2rem;
      height: 0.4rem;
      background-color: vars.$secondary-color;
      margin: 1rem 0;
    }
    &__main {
      color: #94a3b8;
    }
  }
  @include mixins.respond-to('md') {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    &--img-right .two-col__img {
      order: 2;
    }
  }

  @include mixins.respond-to('lg') {
    &__text {
      padding: 5rem 7rem;
    }
  }
}
