<section class="checkout">
  <div class="checkout-inner">
    <!-- Left Column -->
    <div class="checkout__left">
      <div>
        <div class="checkout__left-logo"></div>
        <div class="checkout__left-nav">
          <ul>
            <li>Information</li>
            <li>></li>
            <li>Shipping</li>
            <li>></li>
            <li>Payment</li>
          </ul>
        </div>
      </div>
      <div class="checkout__left-contact">
        <h3>Contact</h3>
        <div class="checkout__left-contact-inputs">
          <cof-text-box name="email" placeholder="Email" _value=""></cof-text-box>
        </div>
      </div>
      <div class="checkout__left-shipping">
        <h3>Shipping address</h3>

        <div class="checkout__left-shipping-inputs">
          <select name="country" id="country">
            <option disabled selected>Country/region</option>
            <option value="US">United States</option>
          </select>

          <cof-text-box name="first-name" placeholder="First name" _value=""></cof-text-box>
          <cof-text-box name="last-name" placeholder="Last name" _value=""></cof-text-box>
          <cof-text-box name="address" placeholder="Address" _value=""></cof-text-box>
          <cof-text-box name="apartment" placeholder="Apartment, suite, etc (optional)" _value=""></cof-text-box>
          <cof-text-box name="city" placeholder="City" _value=""></cof-text-box>

          <select name="state" id="state">
            <option *ngFor="let entry of stateSalesTax | keyvalue" [value]="entry.key">{{ entry.key }}</option>
          </select>
          <cof-text-box name="zip" placeholder="ZIP code" _value="" type="number"></cof-text-box>
          <cof-text-box name="phone" placeholder="Phone (optional)" _value=""></cof-text-box>
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="checkout__right">
      <div class="checkout__right-cart scrollbar">
        <div class="checkout__right-cart-product" *ngFor="let cartProduct of cartProducts$ | async">
          <img [src]="'assets/images/' + cartProduct.imgSrc" alt="" />
          <span class="checkout__right-cart-product-name">{{ cartProduct.name }}</span>
          <span class="checkout__right-cart-product-price">{{ cartProduct.price | currency }}</span>
        </div>
      </div>
      <div class="checkout__right-promo">
        <cof-text-box name="promo" placeholder="Gift card or discount code" _value=""></cof-text-box>
        <button class="btn" type="button" [disabled]="true">Apply</button>
      </div>

      <div class="checkout__right-shipping">
        <div class="subtotal">
          <div class="subtotal-label">Subtotal</div>
          <div class="subtotal-val">$17.00</div>
        </div>
        <div class="shipping">
          <div class="shipping-label">Shipping</div>
          <div class="shipping-val">Calculated at next step</div>
        </div>
      </div>
      <div class="checkout__right-price">
        <div class="total-label">Total</div>
        <div class="total-val"><span>USD</span>$17.00</div>
      </div>
    </div>
  </div>
</section>
