<section class="checkout">
  <div class="checkout-inner">
    <!-- Left Column -->
    <div class="checkout__left">
      <div>
        <div class="checkout__left-header">
          <div class="checkout__left-header-logo"></div>
          <div class="checkout__left-header-nav">
            <ul>
              <li>Information</li>
              <li>></li>
              <li>Shipping</li>
              <li>></li>
              <li>Payment</li>
            </ul>
          </div>
        </div>
      </div>
      <cof-info-form></cof-info-form>
    </div>

    <!-- Right Column -->
    <div class="checkout__right">
      <div class="checkout__right-cart scrollbar">
        <div class="checkout__right-cart-product" *ngFor="let cartProduct of cartProducts$ | async">
          <img [src]="'assets/images/' + cartProduct.imgSrc" alt="" />
          <span class="checkout__right-cart-product-name">{{ cartProduct.name }}</span>
          <span class="checkout__right-cart-product-price">{{ cartProduct.price | currency }}</span>
        </div>
      </div>
      <div class="checkout__right-promo">
        <cof-text-box name="promo" placeholder="Gift card or discount code" _value=""></cof-text-box>
        <button class="btn" type="button" [disabled]="true">Apply</button>
      </div>

      <div class="checkout__right-shipping">
        <div class="subtotal">
          <div class="subtotal-label">Subtotal</div>
          <div class="subtotal-val">$17.00</div>
        </div>
        <div class="shipping">
          <div class="shipping-label">Shipping</div>
          <div class="shipping-val">Calculated at next step</div>
        </div>
      </div>
      <div class="checkout__right-price">
        <div class="total-label">Total</div>
        <div class="total-val"><span>USD</span>$17.00</div>
      </div>
    </div>
  </div>
</section>
