<section class="checkout" *ngIf="state$ | async as state">
  <div class="checkout-inner">
    <!-- Left Column -->
    <div class="checkout__left">
      <div class="checkout__left-header-logo"></div>

      <!-- Stepper -->
      <cof-stepper
        [stepIndex]="state.checkout.stepperIndex"
        [steps]="['Information', 'Shipping', 'Payment']"
        (onChange)="updateStepperIndex($event)"
      >
        <ng-template>
          <cof-info-form [info]="state.checkout.info" (onSubmit)="submitInfoForm($event)"></cof-info-form>
        </ng-template>
        <ng-template
          ><cof-shipping-form
            [checkoutState]="state.checkout"
            [cartState]="state.cart"
            (onBack)="updateStepperIndex(0)"
            (onShippingMethodUpdate)="updateShippingMethod($event)"
          ></cof-shipping-form>
        </ng-template>
        <ng-template><div>Page 3</div></ng-template>
      </cof-stepper>
    </div>

    <!-- Right Column -->
    <div class="checkout__right">
      <div class="checkout__right-cart scrollbar">
        <div class="checkout__right-cart-product" *ngFor="let cartProduct of state.cart.items">
          <img [src]="'assets/images/' + cartProduct.imgSrc" alt="" />
          <span class="checkout__right-cart-product-name">{{ cartProduct.name }}</span>
          <span class="checkout__right-cart-product-price">{{ cartProduct.price | currency }}</span>
        </div>
      </div>
      <div class="checkout__right-promo">
        <cof-text-box name="promo" placeholder="Gift card or discount code" [(ngModel)]="promoCode"></cof-text-box>
        <button class="btn" type="button" [disabled]="true">Apply</button>
      </div>

      <div class="checkout__right-shipping">
        <div class="subtotal">
          <div class="subtotal-label">Subtotal</div>
          <div class="subtotal-val">{{ state.cart.subTotal | currency }}</div>
        </div>
        <div class="shipping">
          <div class="shipping-label">Shipping</div>
          <div class="shipping-val">Calculated at next step</div>
        </div>
      </div>
      <div class="checkout__right-price">
        <div class="total-label">Total</div>
        <div class="total-val"><span>USD</span>{{ state.cart.subTotal | currency }}</div>
      </div>
    </div>
  </div>
</section>
