@use 'variables' as vars;
@use 'mixins' as mixins;

.checkout {
  font-family: vars.$font-secondary;
  background-color: #f5f5f5;
  padding: 3rem 2rem;
  .btn {
    background-color: black;
    border-radius: 3px;
    color: white;
    padding: 0.5rem 1rem;
    &:disabled {
      cursor: default;
      opacity: 0.2;
    }
  }
  h3 {
    text-transform: none;
    padding-bottom: 1rem;
  }
  &-inner {
    margin: auto;
    display: flex;
    flex-direction: column;
    @include mixins.respond-to('md') {
      display: grid;
      grid-template-columns: 1.4fr 1fr;
    }
    @include mixins.respond-to('xl') {
      max-width: 100rem;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;

    @include mixins.respond-to('md') {
      padding-right: 2rem;
      border-right: 1px solid black;
    }

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;

      @include mixins.respond-to('md') {
        align-items: start;
      }
      &-logo {
        background: url('/assets/images/brand-black.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 236px;
        height: 46px;
        margin-bottom: 0.5rem;
        cursor: pointer;
      }
    }
  }

  &__right {
    display: none;
    padding: 0 2rem 2rem 2rem;

    @include mixins.respond-to('md') {
      display: block;
    }

    > *:not(:last-child) {
      border-bottom: 1px solid black;
    }
    > *:not(:first-child) {
      padding: 2rem 0;
    }
    &-cart {
      display: flex;
      flex-direction: column;
      max-height: 18rem;
      padding: 0 2rem 2rem 0;
      overflow-y: auto;
      gap: 1rem;
      &-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 5rem;
          height: 100%;
        }
        &-name {
          flex: 1;
        }
      }
    }
    &-promo {
      display: flex;
      gap: 1rem;
      cof-text-box {
        flex: 1;
      }
    }
    &-shipping {
      .subtotal,
      .shipping {
        display: flex;
        justify-content: space-between;
      }
    }
    &-price {
      display: flex;
      justify-content: space-between;
      span {
        padding-right: 1rem;
        color: gray;
        font-weight: normal;
        font-size: 1rem;
      }
      .total-val {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
