<section class="home">
  <cof-hero></cof-hero>
  <cof-two-col-container
    subHeader="The Story of our"
    header="Coffee Shops"
    imgSrc="assets/images/pexels-jason-villanueva-851555.jpg"
    btnText="Discover coffee shops"
  >
    <p>
      From an abandoned storage space to a convivial meeting place in the heart of Geneva, our first café opened in
      April 2009 at Rue du Stand 60.
    </p>
    <p>
      Now in 3 locations in Geneva and 2 locations in Zürich, customers can expect an amazing experience from bean to
      cup. Boreal Coffee is committed to sourcing the finest quality coffee beans from farmers around the world,
      directly traded, and roasted with love each week in our artisanal roastery in Carouge.
    </p>
    <p>Boréal Coffee expose photos of Léonard Fisch.</p>
  </cof-two-col-container>
</section>
