<section class="shop" *ngIf="filter$ | async as filter">
  <div class="shop__container">
    <div class="shop__container-header">
      <div class="shop__container-header-inner">
        <h3>Our dear coffee loving customer, perhaps you would be</h3>
        <h2>Interested in some of our amazing coffees?</h2>
        <div class="shop__container-header-inner-filter">
          <cof-product-filter [filter]="filter" (onSelect)="onFilterChange($event)"></cof-product-filter>
        </div>
      </div>
    </div>
    <div class="shop__container-products">
      <cof-product
        *ngFor="let product of filteredProducts$ | async"
        [product]="product"
        (onSelect)="onProductSelect($event)"
      ></cof-product>
    </div>
  </div>
</section>
