<ng-container *ngIf="cartState$ | async as cart">
  <ng-container *ngIf="cart.isOpen">
    <div class="cart-overlay" (click)="toggle()"></div>
    <div class="cart scrollbar" [@slideInLeft]>
      <div class="cart__top">
        <span>Your Cart [{{ cart.items.length }}]</span>
        <button type="button" (click)="toggle()"><ng-icon class="close-btn" name="heroXMark"></ng-icon></button>
      </div>
      <div class="cart__content">
        <ng-container *ngIf="cart.items.length > 0; else emptyCart">
          <!-- Product -->
          <div class="product" *ngFor="let product of cart.items">
            <img [src]="'assets/images/' + product.imgSrc" alt="" />
            <div class="product__details">
              <div class="product__details-name">{{ product.name }}</div>
              <div class="product__details-price">{{ product.price | currency }}</div>
              <cof-quantity
                [qty]="product.quantity"
                [disableIncrement]="product.type === 'subscription'"
                (onUpdateQty)="updateQty($event, product)"
              ></cof-quantity>
            </div>
          </div>
        </ng-container>
        <ng-template #emptyCart>
          <div class="empty-cart">Your shopping cart is empty</div>
        </ng-template>
      </div>
      <div class="cart__bottom">
        <div class="cart__bottom-total">
          <span>Subtotal</span>
          <span>{{ cart.subTotal | currency }}</span>
        </div>
        <button type="button" class="cart__bottom-chkbtn" (click)="onCheckout(cart.items.length)">Checkout</button>
      </div>
    </div>
  </ng-container>
</ng-container>
