@use 'variables' as vars;
@use 'mixins' as mixins;

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.woff2');
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Light.woff2');
  font-weight: 300;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Bold.woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: vars.$secondary-color;
}

body {
  font-family: vars.$font-family;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0.6rem 0 0.6rem 0;
  font-size: 3rem;
}

h2 {
  padding: 0.6rem 0 0.6rem 0;
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  padding: 0.3rem 0 0.3rem 0;
  font-size: 1rem;
  line-height: 1.1;
}

p {
  padding: 0.3rem 0 0.3rem 0;
  font-size: 1rem;
}

button {
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
}
