@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter.woff2');
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-Bold.woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: Inconsolata;
  src: url('../assets/fonts/Inconsolata-Normal.woff2');
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: Inconsolata;
  src: url('../assets/fonts/Inconsolata-Bold.woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: Fraunces;
  src: url('../assets/fonts/Fraunces-Regular.woff2');
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}
