$color-primary: #c7675d;
$color-secondary: #ae8e7e;
$color-tertiary: #384c3b;

$color-heading: #567277;
$color-button: #c7675d;
$color-button-accent: #bd4a55;

$text-color-light: #808080;

$font-primary: Inconsolata, sans-serif;
$font-secondary: Inter, sans-serif;

$max-width--wide: 80rem;
$max-width--wider: 105rem;

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
) !default;
