<div class="sf">
  <div class="sf__method">
    <h3 class="sf__method-title">Shipping method</h3>
    <form class="sf__container">
      <!-- Radio Button Row -->
      <div class="sf__row" *ngFor="let shippingMethod of shippingMethods">
        <cof-radio
          name="method"
          value="{{ shippingMethod.id }}"
          [(ngModel)]="shippingMethodId"
          (ngModelChange)="onInputChange($event)"
          ><span>{{ shippingMethod.name }}</span>
        </cof-radio>
        <div class="sf__price">
          <span class="sf__price-value" [ngClass]="{ strikethrough: shippingMethod.isFree }">{{
            subTotal * shippingMethod.rate | currency
          }}</span>
          <span class="sf__price-status" *ngIf="shippingMethod.isFree">{{
            shippingMethod.isFree ? 'Free' : (subTotal * shippingMethod.rate | currency)
          }}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="sf__footer">
    <button class="form-btn" type="button" (click)="onBack.emit()">Return to information</button>
    <button class="form-btn" type="submit" (click)="onSubmit.emit()">Continue to payment</button>
  </div>
</div>
