@use 'variables' as vars;

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  img {
    width: 25rem;
  }

  &__btn {
    background-color: vars.$secondary-color;
    padding: 0.5rem 1rem;
    color: white;
  }
}
