.text-input {
  width: 100%;
  display: flex;
  position: relative;
  &--show-label {
    input {
      padding-top: 1.2rem !important;
      padding-bottom: 0.4rem !important;
    }
    label {
      top: 0rem !important;
      opacity: 1 !important;
    }
  }
  label {
    position: absolute;
    opacity: 0;
    top: 1rem;
    left: 0.85rem;
    font-size: 0.7rem;
    transition: all 0.2s ease-in;
    color: gray;
  }
  input {
    width: 100%;
    transition: padding-top 0.2s ease-in, padding-bottom 0.2s ease-in;
    font-size: 0.9rem;
    padding: 0.8rem;
    border-radius: 3px;
    border: 1px solid #ececec;
    outline: none;
  }
}
