<header class="header" [ngClass]="{ 'header--not-transparent': !isTransparent }">
  <div class="header__wrapper">
    <div class="header__wrapper__logo" routerLink="/"></div>
    <div class="header__wrapper__menu">
      <button class="header__wrapper__menu__btn" (click)="toggleMenu()">
        <ng-icon name="heroBars3"></ng-icon>
      </button>
      <nav
        class="header__menu"
        [ngClass]="{ 'header__menu--mb-open': isMenuOpen, 'header__menu--mb-closed': !isMenuOpen }"
      >
        <ul class="header__menu__list">
          <li routerLink="/">who we are?</li>
          <li>cafes</li>
          <li routerLink="shop">shop</li>
          <li routerLink="subscribe">subscribe</li>
          <li>contact</li>
          <li>cart</li>
        </ul>
      </nav>

      <cof-cart></cof-cart>
    </div>
  </div>
</header>
