@use 'mixins' as mixins;
@use 'variables' as vars;

.header {
  transition: color, background-color, cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  background-color: transparent;
  width: 100%;
  z-index: 50;
  position: fixed;
  font-weight: 600;
  color: white;
  &__wrapper {
    position: relative;
    padding: 1rem 2rem;
    max-width: vars.$max-width--wider;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    &-hamburger {
      color: white;
      font-size: 2rem;
      flex: 1;
      text-align: start;
    }
    &-logo {
      background: url('/assets/images/brand-white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      width: 158px;
      height: 30px;
      @include mixins.respond-to('lg') {
        flex: 1;
        width: 197px;
        height: 38px;
      }
    }
    &-menu {
      flex: 1;
      position: fixed;
      top: 4rem;
      left: 0;
      color: black;
      padding: 5rem 2rem;
      width: 100%;
      background-color: white;
      display: none;
      @include mixins.respond-to('lg') {
        display: block;
      }
      ul {
        justify-content: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px black;
        cursor: pointer;
        font-size: 2rem;
        gap: 2rem;
        li {
          padding-right: 0.9rem;
          &:hover {
            color: vars.$color-primary;
          }
        }
      }
    }
    &-cart {
      justify-content: flex-end;
      flex: 1;
      cursor: pointer;
      position: relative;
      text-align: right;
      display: flex;
      align-items: center;
      color: white;
      &-num {
        font-size: 0.8rem;
        position: absolute;
        top: -0.8rem;
        right: -0.2rem;
      }
      &-btn {
        font-size: 1.7rem;
      }
    }
  }

  &--not-transparent {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    .header__wrapper {
      &-hamburger {
        color: black;
      }
      &-logo {
        background: url('/assets/images/brand-black.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 158px;
        height: 30px;
        @include mixins.respond-to('lg') {
          width: 197px;
          height: 38px;
        }
      }
      &-menu {
        ul {
          color: black;
          text-shadow: none;
        }
      }
      &-cart {
        color: black;
      }
    }
  }

  @include mixins.respond-to('lg') {
    &--not-transparent {
      .header__menu-list {
        li:not(:last-child) {
          border-right: 2px solid black;
        }
      }
    }
    &__wrapper {
      &-hamburger {
        display: none;
      }
      &-menu {
        position: initial;
        display: block;
        background-color: transparent;
        color: white;
        padding: 0;
        ul {
          font-size: 1rem;
          gap: 1rem;
          flex-direction: row;
          li:not(:last-child) {
            border-right: 2px solid white;
          }
        }
      }
    }
  }
}
