<header class="header" [ngClass]="{ 'header--not-transparent': !isTransparent }">
  <div class="header__wrapper">
    <!-- Mobile Menu Btn -->
    <button class="header__wrapper-hamburger" (click)="toggleMenu()">
      <ng-icon name="heroBars3"></ng-icon>
    </button>

    <!-- Logo -->
    <div class="header__wrapper-logo" routerLink="/"></div>

    <!-- Menu -->
    <div
      class="header__wrapper-menu"
      [ngClass]="{ 'header__wrapper-menu--open': isMenuOpen, 'header__wrapper-menu--closed': !isMenuOpen }"
    >
      <nav>
        <ul>
          <li (click)="toggleMenu()" routerLink="shop">shop</li>
          <li (click)="toggleMenu()" routerLink="subscribe">subscribe</li>
          <li routerLink="/" (click)="toggleMenu()">who we are?</li>
          <li (click)="toggleMenu()">cafes</li>
        </ul>
      </nav>
    </div>

    <!-- Cart -->
    <div class="header__wrapper-cart" (click)="toggleCart(); showCart = !showCart">
      <span class="header__wrapper-cart-num" *ngIf="cartNumProducts$ | async as numProducts">{{ numProducts }}</span>
      <ng-icon class="header__wrapper-cart-btn" name="heroShoppingCart"></ng-icon>
    </div>
  </div>
</header>
