@use 'mixins' as mixins;
@use 'variables' as vars;

.header-seperator {
  height: 7rem;
  background-color: white;
}

.header {
  transition: color, background-color, cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  background-color: transparent;
  width: 100%;
  z-index: 50;
  position: fixed;
  font-weight: 600;
  color: white;
  font-size: 1rem;
  &__wrapper {
    position: relative;
    padding: 2.4rem 1rem;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    &__logo {
      background: url('/assets/images/brand-white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      width: 219px;
      height: 26px;
      @include mixins.respond-to('md') {
        width: 274px;
        height: 33px;
      }
    }
    &__menu {
      position: relative;
      &__btn {
        color: white;
        font-size: 2rem;
      }
    }
  }
  &--not-transparent {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    .header__menu {
      color: black;
    }
    .header__wrapper__menu__btn {
      color: black;
    }
    & .header__wrapper__logo {
      background: url('/assets/images/brand-black.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 219px;
      height: 26px;
      @include mixins.respond-to('md') {
        width: 274px;
        height: 33px;
      }
    }
  }
  &__menu {
    position: fixed;
    top: 7rem;
    left: 0;
    color: black;
    padding: 5rem 2rem;
    width: 100%;
    background-color: white;
    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-transform: uppercase;
      gap: 1rem;
      cursor: pointer;
      li {
        padding-right: 0.8rem;
        &:hover {
          color: vars.$primary-color;
        }
      }
    }
    &--mb-open {
      display: block;
    }
    &--mb-closed {
      display: none;
    }
  }
  @include mixins.respond-to('md') {
    &--not-transparent {
      .header__menu__list {
        li:not(:last-child) {
          border-right: 2px solid black;
        }
      }
    }
    font-size: 1rem;
    &__menu {
      position: initial;
    }
    &__wrapper {
      &__menu {
        &__btn {
          display: none;
        }
      }
    }
    &__menu {
      display: block;
      &__list {
        gap: 1rem;
        flex-direction: row;
        li:not(:last-child) {
          border-right: 2px solid white;
        }
      }
    }
    &__menu {
      background-color: transparent;
      color: white;
      padding: 0;
    }
  }
  @include mixins.respond-to('lg') {
    font-size: 1.2rem;
  }
}
